# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Data
*.csv
*.xlsx

# Environment
.env

# OS
.DS_Store
Thumbs.db

#Dataset
Data/Football_Tableau.csv

mlruns/
*.db

# FootballIQ model artefacts (large pickle files)
footballiq/models/*.pkl

# FootballIQ env
footballiq/.env

